@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">Ha ocurrido un error en la aplicación.</h2>

@if (Model.ErrorStatusCode.HasValue)
{
    <p>
        <strong>Código de estado:</strong> @Model.ErrorStatusCode.Value
    </p>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>
        <strong>Mensaje de error:</strong> @Model.ErrorMessage
    </p>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID de solicitud:</strong> <code>@Model.RequestId</code>
    </p>
}

<!-- Show Imagen -->
<div class="mt-4">
    @if (Model.ErrorStatusCode.HasValue)
    {
        <img src="@GetErrorImage(Model.ErrorStatusCode.Value)" alt="Imagen de error" class="img-fluid" style="max-width: 300px;" />
    }
</div>

@functions {
    private string GetErrorImage(int ErrorStatusCode)
    {
        return ErrorStatusCode switch
        {
            400 => "/images/bad-request.png", // Imagen para 400 Bad Request
            403 => "/images/forbidden.png",   // Imagen para 403 Forbidden
            404 => "/images/not-found.png",   // Imagen para 404 Not Found
            500 => "/images/server-error.png", // Imagen para 500 Internal Server Error
            _ => "/images/default-error.png"   // Imagen por defecto
        };
    }
}